version: '3.8'

services:
  db:
    container_name: db
    image: mysql:8.3.0
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "127.0.0.1", "-uroot", "-ppassword" ]
      interval: 5s
      timeout: 5s
      retries: 20
    restart: unless-stopped

  wildfly:
    container_name: wildfly
    build:
      context: .
      dockerfile: Dockerfile
      args:
        JDK: 20
    ports:
      - "8080:8080"
    environment:
      DB_CONNECTION_URL: ${DB_CONNECTION_URL}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

volumes:
  db-data: